$sky-blue: #DB2847;
$yellow-dark: #ffa939;
$font-color: #575757;
$hover-color: #ffffffa8;
$light-red: #ffd4db;

$font-sizes: (
    'bold': 2rem,
    'medium': 1rem,
    'regular': .8rem,
    'small': .7rem,
);

