$sky-blue: #DB2847;
$yellow-dark: #F8B817;
$font-color: #575757;
$hover-color: #ffffffa8;
$light-red: #ffd4db;
$yunki-color: #12B7CE;
$yunki-light-color: #4eabb7;

$font-sizes: (
    'bold': 2rem,
    'medium': 1rem,
    'regular': .8rem,
    'small': .7rem,
);

