.trends__section {
  position: relative;
  width: 15%;
  border: 1px solid rgb(231, 230, 230);
  border-radius: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin-left: 10%;
}
.trends__section .product-image {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.trends__section .product-image .main__image {
  width: 80%;
}
.trends__section .product-image .new-discount {
  position: absolute;
  width: 35%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  left: 0;
  top: 0;
  color: white;
}
.trends__section .product-image .new-discount .new-text, .trends__section .product-image .new-discount .discount-text {
  padding: 1px;
  width: 43%;
  text-align: center;
}
.trends__section .product-image .new-discount .new-text {
  background-color: #3F94A6;
}
.trends__section .product-image .new-discount .discount-text {
  background-color: red;
}
.trends__section .product-image .icons__section {
  position: absolute;
  width: 10%;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.trends__section .product-image .icons__section .icon-container {
  width: 28px;
  height: 28px;
  border-radius: 20px;
  padding: 5px;
  border: none;
  margin: 10px;
  cursor: pointer;
}
.trends__section .product-image .icons__section .icon-container:active {
  background-color: #83d3e2;
}
.trends__section .product-image .icons__section .heart-icon {
  margin-top: 0;
}
.trends__section .product-image .icons__section .view {
  width: 20px;
  height: 20px;
}
.trends__section .product-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.trends__section .rating-section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.trends__section .rating-section img {
  width: 100%;
}
.trends__section .text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.trends__section .text-section .product-name {
  font-size: 0.7rem;
  color: #000000;
}
.trends__section .text-section .product-title {
  font-size: 0.75rem;
}
.trends__section .product-price {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 33%;
}
.trends__section .product-price .new-price,
.trends__section .product-price .old-price {
  font-size: 0.9rem;
  color: #ff671b;
}
.trends__section .product-price .old-price {
  text-decoration: line-through;
  font-size: 0.7rem;
  color: #797979;
  margin-top: 5px;
  font-weight: light;
}

.trends__section .popup-holder {
  width: 100vw;
  z-index: 99999999;
}

.trends__section:hover {
  box-shadow: 0px 0.3px 5px 0px var(#575757);
}

.trends__section:hover .bag-btn {
  opacity: 1;
}

@media only screen and (max-width: 595px) {
  .trends__section {
    width: 80%;
    margin: 7%;
  }
  #details {
    margin-bottom: 10px;
  }
  #details .text-section {
    margin-bottom: 10px;
  }
  #details .text-section .product-name {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 2px;
  }
  #details .text-section .product-title {
    font-size: 1rem;
    text-align: left;
  }
  #details .product-price .new-price {
    font-size: 1.2rem;
  }
  #details .product-price .old-price {
    font-size: 1rem;
    margin-left: 30px;
  }
  #details .rating-section {
    width: 35%;
  }
  #details .product-image .icons__section {
    background-color: #11ACD3;
    width: 40%;
  }
}
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .trends__section {
    width: 50%;
    margin: 2%;
  }
  .trends__section .product-image .new-discount h6 {
    font-size: 1rem;
    text-align: center;
  }
  .trends__section .product-image .icons__section .shopping-bag {
    margin-top: 70%;
  }
  .trends__section #details .text-section .product-name {
    font-size: 1.3rem;
    margin-bottom: 3%;
  }
  .trends__section #details .text-section .product-title {
    margin-bottom: 5%;
    font-size: 1.1rem;
  }
  .trends__section .rating-section {
    width: 37%;
  }
  .trends__section .product-price .new-price {
    font-size: 1.4rem;
  }
  .trends__section .product-price .old-price {
    font-size: 1.1rem;
    margin-left: 40px;
  }
}
@media only screen and (min-width: 820px) {
  .trends__section #details .text-section .product-name {
    font-size: 1.5rem;
  }
  .trends__section #details .text-section .product-title {
    font-size: 1.2rem;
  }
  .trends__section #details .rating-section {
    width: 33%;
  }
}
/* Big screen devices (889px and above) */
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .trends__section {
    width: 27%;
  }
  .trends__section .product-image .new-discount h6 {
    font-size: 0.7rem;
    text-align: center;
  }
  .trends__section #details .text-section {
    height: 20%;
  }
  .trends__section #details .text-section .product-name {
    font-size: 1.1rem;
  }
  .trends__section #details .text-section .product-title {
    font-size: 1rem;
  }
  .trends__section #details .rating-section {
    width: 33%;
  }
  .trends__section .product-price .new-price {
    font-size: 1.2rem;
  }
  .trends__section .product-price .old-price {
    font-size: 1rem;
    margin-left: 40px;
  }
}
@media only screen and (min-width: 1300px) {
  .trends__section {
    width: 17%;
  }
  .trends__section .product-image .new-discount h6 {
    font-size: 0.6rem;
    text-align: center;
  }
  .trends__section #details .text-section .product-name {
    font-size: 1rem;
  }
  .trends__section #details .text-section .product-title {
    font-size: 0.7rem;
  }
  .trends__section .product-price .new-price {
    font-size: 1rem;
  }
  .trends__section .product-price .old-price {
    font-size: 0.75rem;
    margin-left: 40px;
  }
}/*# sourceMappingURL=Trends.css.map */