.pets__banner__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100dvw;
}
.pets__banner__section .big__banner {
  background-image: url(../../public/images/30532.jpg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90dvh;
}
.pets__banner__section .big__banner .slider__holder {
  height: 50dvh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pets__banner__section .big__banner .slider__holder .carousel__angle__holder {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pets__banner__section .big__banner .slider__holder .carousel__angle__holder .carousel__container {
  transition: 2s ease-in-out;
  transform: translateX(100);
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pets__banner__section .big__banner .slider__holder .carousel__angle__holder .carousel__container img {
  width: 3%;
  width: 45px;
  height: 45px;
  padding: 8px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.584);
  cursor: pointer;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0px 0.3px 4px 0px var(#a3e7f4);
}
.pets__banner__section .big__banner .slider__holder .carousel__angle__holder .carousel__container img:hover {
  background-color: white;
  transition: 0.5s ease-in-out;
}
.pets__banner__section .big__banner .slider__holder .carousel__angle__holder .carousel__container img:active {
  background-color: #a3e7f4;
}
.pets__banner__section .big__banner .banner__item {
  overflow: hidden;
  width: 48%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pets__banner__section .big__banner .banner__item img {
  width: 100%;
}
.pets__banner__section .big__banner .banner__item button {
  position: absolute;
  bottom: 37%;
  width: 150px;
  height: 45px;
  font-size: 1rem;
  font-weight: 800;
  border-radius: 30px;
  border: 0;
  cursor: pointer;
}
.pets__banner__section .big__banner .banner__item button:active {
  background-color: #a3e7f4;
}
.pets__banner__section .big__banner .pets__banner__img {
  margin-left: 15%;
}
.pets__banner__section .big__banner .pets__banner__text {
  margin-right: 15%;
  margin-bottom: 40px;
  height: 65%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.pets__banner__section .big__banner .pets__banner__text h2 {
  font-size: 2.6rem;
  text-align: center;
  color: white;
}
.pets__banner__section .link__holder {
  width: 100%;
  height: 55dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: -15%;
}
.pets__banner__section .link__holder .link {
  width: 33.33%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0;
}
.pets__banner__section .link__holder .link img {
  width: 50%;
}
.pets__banner__section .link__holder .link h2 {
  color: white;
  font-size: 1.8rem;
}
.pets__banner__section .link__holder .one {
  background-image: url(../../public/images/abstract-textured-backgound.jpg);
}
.pets__banner__section .link__holder .two {
  background-image: url(../../public//images/abstract-textured-backgound_1258-30447.webp);
}
.pets__banner__section .link__holder .three {
  background-image: url(../../public/images/abstract-blur-pastel-beautiful-peach-pink-color-sky-warm-tone-background-design-as-banner-slide-show-others_1258-83003.avif);
}/*# sourceMappingURL=PetsShop.css.map */