@import '../Sass/config';

@mixin flexBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.delivery__information__container{
    position: relative;
    width: 90%;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    justify-content: space-between;
    .delivery__info{
        position: relative;
        height: 15%;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        // background-color: $font-color;
        .delivery{
            font-size: 1rem;
            padding: 10px;
            // position: absolute;
            width: 30%;
            height: 45%;
            display: flex;
            align-items: center;
            border: .1px solid #939393;
            // border-radius: 5px;
            background-color: white;
            img{
                width: 23%;
            }
            .pickUp__img{
                width: 18%;
            }
            h5{
                font-weight: 500;
                margin: 10px;
            }
            // justify-content: space-between;
        }
        .deliver{
            left: 0;
        }
        .pickup{
            right: 0;
            margin-left: 30px;
            // background-color: $font-color;
        }
    }
    .location__details{
        background-color: white;
        padding: 20px;
        width: 70%;
        // height: 50%;
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 30px;
        .user__details, .user{
            width: 46%;
            // background-color: #939393;
        }
        .details__form, .location__form{
            // width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            // background-color: $yellow-dark;\
            label{
                // margin-top: 5px;
                font-size: .8rem;
                font-weight: 500;
            }
            input{
                margin-bottom: 10px;
                height: 30px;
                width: 100%;
                border: .1px solid #939393;
                align-items: center;
                justify-content: center;
                font-size: .9rem;
            }
        }
    }
    input::placeholder{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: left;
        font-size: .7rem;
        padding: 10px;
        // background-color: red;
    }
    .payment__method{
        width: 70%;
        height: 12%;
        // background-color: blue;
        display: flex;
        // flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        .payment{
            width: 30%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border: .1px solid #939393;
            h6{
                margin: 10px;
                font-size: .8rem;
                font-weight: 500;
            }
            input{
                margin: 6px;
            }
        }
    }
    .payment-header{
        font-weight: 400;
    }
}