@import '../Sass/config';

@mixin flexBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

#main-text{
    background-color: blue;
}
.product-title{
    background-color: red;
}
.trends{
    // background-color: seagreen;
    width: 13%;
}
.main-text{
    background-color: purple;
    .main-name{
        background-color: steelblue;
        display: flex;
    }
}