.home-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  width: 100dvw;
}
.home-section .stores-shortcut__links {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(150px, auto));
  grid-gap: 15px;
  margin: 0 auto;
  width: 100dvw;
  padding: 30px;
  height: 100vh;
}
.home-section .stores-shortcut__links .store-shortcut {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-color: #ffd4db;
  text-decoration: none;
  overflow: hidden;
}
.home-section .stores-shortcut__links .store-shortcut h5 {
  font-size: large;
  z-index: 2;
  color: white;
}
.home-section .stores-shortcut__links .store-shortcut p {
  color: white;
  z-index: 2;
}
.home-section .stores-shortcut__links .store-shortcut .imageText-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.home-section .stores-shortcut__links .store-shortcut::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3215686275);
  z-index: 1;
  border-radius: 5px;
}
.home-section .stores-shortcut__links .pets {
  grid-column: span 1;
  grid-row: span 2;
}
.home-section .stores-shortcut__links .pets .petImage {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}
.home-section .stores-shortcut__links .women {
  grid-column: span 1;
  grid-row: span 2;
}
.home-section .stores-shortcut__links .women .womenImage {
  width: 60%;
}
.home-section .stores-shortcut__links .kids {
  grid-column: span 1;
  grid-row: span 2;
  -o-object-fit: contain;
     object-fit: contain;
}
.home-section .stores-shortcut__links .kids .kidsImage {
  width: 60%;
}
.home-section .stores-shortcut__links .food {
  grid-column: span 1;
}
.home-section .stores-shortcut__links .food .foodImage {
  width: 50%;
}
.home-section .stores-shortcut__links .phones-laptops {
  grid-column: span 1;
  grid-row: span 2;
}
.home-section .stores-shortcut__links .phones-laptops .phoneImage {
  width: 80%;
}
.home-section .stores-shortcut__links .fashion-and-beauty {
  grid-column: span 1;
  grid-row: span 3;
}
.home-section .stores-shortcut__links .fashion-and-beauty .skinCareImage {
  width: 100%;
}
.home-section .stores-shortcut__links .men {
  grid-column: span 1;
  grid-row: span 3;
}
.home-section .stores-shortcut__links .men .menImage {
  width: 90%;
}
.home-section .stores-shortcut__links .electronics {
  grid-column: span 1;
  grid-row: span 1;
}
.home-section .stores-shortcut__links .electronics .electronicsImage {
  width: 80%;
}
.home-section .trends-container {
  position: relative;
  width: 100dvw;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ededed;
}
.home-section .trends-container h1 {
  width: 80%;
  margin-top: 30px;
}
.home-section .trends-container .trends-contents-holder {
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.home-section .trends-container .trends-contents-holder .offers-section {
  width: 95dvw;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.home-section .trends-container .trends-contents-holder .offers-section .offer-content {
  padding: 15px;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.home-section .trends-container .trends-contents-holder .offers-section .offer-content img {
  width: 23%;
}
.home-section .trends-container .trends-contents-holder .offers-section .offer-content .gift {
  width: 18%;
}
.home-section .trends-container .trends-contents-holder .offers-section .offer-content .offer-header {
  font-size: 0.9rem;
  margin: 5px;
}
.home-section .trends-container .trends-contents-holder .offers-section .offer-content .offer-text {
  font-size: 0.8rem;
}
.home-section .trends-container .trends-contents-holder .offers-section .offer-content .offer-link {
  font-weight: bold;
  text-decoration: none;
  color: #3F94A6;
}
.home-section .trends-container .main-trends {
  position: relative;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ededed;
}

@media only screen and (max-width: 595px) {
  .home-section .stores-shortcut__links {
    padding: 10px;
    height: 40%;
    width: 95%;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(3, minmax(10px, auto));
    grid-gap: 10px;
  }
  .home-section .stores-shortcut__links .store-shortcut h5 {
    font-size: 0.8rem;
  }
  .home-section .stores-shortcut__links .men {
    grid-column: span 1;
    grid-row: span 3;
  }
  .home-section .stores-shortcut__links .fashion-and-beauty {
    grid-column: span 1;
    grid-row: span 1;
  }
  .home-section .stores-shortcut__links .kids {
    grid-column: span 2;
    grid-row: span 4;
  }
  .home-section .stores-shortcut__links .phones-laptops {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section .trends-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  .home-section .trends-container .trends-contents-holder {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .home-section .trends-container .trends-contents-holder .offers-section .offer-content {
    width: 70%;
    margin: 30px;
  }
  .home-section .trends-container .offers-section {
    height: 100%;
    width: 90%;
    margin: 10px;
  }
  .home-section .trends-container #offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .home-section .trends-container .main-trends {
    overflow: hidden;
    width: 90vw;
  }
  .home-section .trends-container .main-trends .marquee {
    background-color: #DB2847;
    height: 30%;
  }
}
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .home-section #trends {
    width: 85%;
    grid-gap: 0px;
    margin: 0 auto;
    padding: 0;
  }
  .home-section .stores-shortcut__links {
    padding: 10px;
    width: 95%;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, minmax(10px, auto));
    grid-gap: 10px;
  }
  .home-section #men-store {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section #electronic-store {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section #phones-laptops {
    grid-column: span 1;
    grid-row: span 3;
  }
  .home-section #food-store {
    grid-column: span 2;
    grid-row: span 1;
  }
}
@media only screen and (min-width: 820px) {
  .home-section .stores-shortcut__links {
    padding: 10px;
    width: 95%;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(3, minmax(10px, auto));
    grid-gap: 10px;
  }
  .home-section #men-store {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section #electronic-store {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section #phones-laptops {
    grid-column: span 1;
    grid-row: span 3;
  }
  .home-section #food-store {
    grid-column: span 2;
    grid-row: span 1;
  }
}
/* Big screen devices (889px and above) */
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .home-section .stores-shortcut__links {
    padding: 10px;
    width: 95%;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(3, minmax(10px, auto));
    grid-gap: 10px;
  }
  .home-section .stores-shortcut__links #men-store {
    grid-column: span 2;
    grid-row: span 1;
  }
  .home-section .stores-shortcut__links #electronic-store {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section .stores-shortcut__links #phones-laptops {
    grid-column: span 2;
    grid-row: span 2;
  }
  .home-section .stores-shortcut__links #food-store {
    grid-column: span 1;
    grid-row: span 2;
  }
  .home-section .stores-shortcut__links #pet-store {
    grid-column: span 1;
    grid-row: span 3;
  }
}
/* Extra big screen devices (1200px and above) *//*# sourceMappingURL=Home.css.map */