@import '../Sass/config';

@mixin flexBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.home-section{
    @include flexBox;
    flex-direction: column;
    width: 100dvw;
    .stores-shortcut__links{
        // @include flexBox;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, minmax(150px, auto));
        grid-gap: 15px;
        margin: 0 auto;
        flex-direction: column;
        width: 100dvw;
        padding: 30px;
        // height: 100vh;
        // background-color: $font-color;
        .store-shortcut{
            position: relative;
            width: 100%;
            // height: 40vh;
            border-radius: 10px;
            background-color: $light-red;
            text-decoration: none;
            overflow: hidden;
            h5{
                font-size: large;
                z-index: 2;
                color: white
            }
            p{
                color: white;
                z-index: 2;
            }
            .imageText-container{
                @include flexBox;
                flex-direction: column;
                // background-color: ;
            }
        }
        .store-shortcut::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #00000052;
            z-index: 1;
            border-radius: 10px;
        }
        .pets{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .petImage{
                object-fit: contain;
                width: 100%;
            }
        }
        .women{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .womenImage{
                width: 60%;
            }
        }
        .kids{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            object-fit: contain;
            .kidsImage{
                width: 60%;
            }
        }
        .food{
            // background-color: $font-color;
            grid-column: span 1;
            .foodImage{
                width: 50%;
            }
        }
        .phones-laptops{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .phoneImage{
                width: 80%;
            }
        }
        .fashion-and-beauty{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 3;
            .skinCareImage{
                width: 100%;
            }
        }
        .men{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 3;
            .menImage{
                width: 90%;
            }
        }
        .electronics{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 1;
            .electronicsImage{
                width: 80%
            }
        }
    };

    .trends-container{
        position: relative;
        width: 100%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: rgb(237, 237, 237);
        .main-trends{
            position: relative;
            // width: 95%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
        }
    }
};
