@import '../Sass/config';

@mixin flexBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.home-section{
    @include flexBox;
    flex-direction: column;
    width: 100dvw;
    .login__popUp{
        position: sticky;
        top: 68%;
        width: 100%;
        height: 100%;
        z-index: 99999999999999;
        display: flex;
        align-items: center;
        justify-content: center;
        // background-color: $light-red;
    }
    .stores-shortcut__links{
        // @include flexBox;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, minmax(150px, auto));
        grid-gap: 15px;
        margin: 0 auto;
        // flex-direction: column;
        width: 100dvw;
        padding: 30px;
        height: 100vh;
        // background-color: $font-color;
        .store-shortcut{
            position: relative;
            width: 100%;
            // height: 40vh;
            border-radius: 5px;
            background-color: #8fecff;
            text-decoration: none;
            overflow: hidden;
            h5{
                font-size: large;
                z-index: 2;
                color: white
            }
            p{
                color: white;
                z-index: 2;
            }
            .imageText-container{
                @include flexBox;
                flex-direction: column;
                // background-color: ;
            }
        }
        .store-shortcut::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #00000052;
            z-index: 1;
            border-radius: 5px;
        }
        .pets{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .petImage{
                object-fit: contain;
                width: 100%;
            }
        }
        .women{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .womenImage{
                width: 60%;
            }
        }
        .kids{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            object-fit: contain;
            .kidsImage{
                width: 60%;
            }
        }
        .food{
            // background-color: $font-color;
            grid-column: span 1;
            .foodImage{
                width: 50%;
            }
        }
        .phones-laptops{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .phoneImage{
                width: 80%;
            }
        }
        .fashion-and-beauty{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 3;
            .skinCareImage{
                width: 100%;
            }
        }
        .men{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 3;
            .menImage{
                width: 90%;
            }
        }
        .electronics{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 1;
            .electronicsImage{
                width: 80%
            }
        }
    };

    .trends-container{
        position: relative;
        width: 100dvw;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        h1{
            width: 80%;
            margin-top: 30px;
            // color: $yunki-color;
        }
        .trends-contents-holder{
            display: flex;
            flex-direction: center;
            align-items: center;
            justify-content: center;
            width: 100%;
            // background-color: $sky-blue;
            .offers-section{
                width: 95dvw;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                // background-color: rgb(228, 31, 31);
                .offer-content{
                    padding: 15px;
                    width: 20%;
                    background-color: white;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    text-align: center;
                    img{
                        width: 23%;
                    }
                    .gift{
                        width: 18%;
                    }
                    .offer-header{
                        font-size: .9rem;
                        margin: 5px;
                        color: $yunki-color;
                    }
                    .offer-text{
                        font-size: .8rem;
                    }
                    .offer-link{
                        font-weight: bold;
                        text-decoration: none;
                        color: $yunki-color;
                    }
                }
            }
        }
        .main-trends{
            position: relative;
            width: 80%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            // background-color: #d81818;
            .product__holder{
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .trend__text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    h3{
                        font-size: 1.5rem;
                    }
                }
                .topTrends__products{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
                .carousel__icons{
                    position: absolute;
                    top: 50%;
                    width: 110%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    img{
                        cursor: pointer;
                        width: 40px;
                        height: 40px;
                        padding: 10px;
                        background: rgba(255, 255, 255, 0.584);
                        border-radius: 50px;
                    }
                    img:active{
                        background-color: #8fecff;
                    }
                }
            }
            .allProduct__holder{
            }
            
        }
    }
};

//breakpoint for responsiveness
@media only screen and (max-width: 595px) {
    .home-section{
        // background-color: $sky-blue;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            height: 40%;
            width: 95%;
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
            // .stores-shortcut__links .store-shortcut{
            //     background-color: $font-color;
            // }
            .store-shortcut h5{
                font-size: .8rem;
            }
            .men{
                grid-column: span 1;
                grid-row: span 3;
            }
            .fashion-and-beauty{
                grid-column: span 1;
                grid-row: span 1;
            }
            .kids{
                grid-column: span 2;
                grid-row: span 4;
            }
            .phones-laptops{
                grid-column: span 1;
                grid-row: span 2;
            }
        }
        .trends-container{
            // background-color: $sky-blue;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            // height: 100dvh;

            .trends-contents-holder{
                // height: 45dvh;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                .offers-section .offer-content{
                    width: 70%;
                    margin: 30px;
                    // background-color: red;
                }
            }
            .offers-section{
                // background-color: blue;
                height: 100%;
                width: 90%;
                margin: 10px;
                // margin: 50px;
            }
            #offer{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                
            }
            .main-trends{
                // flex-direction: column;
                overflow: hidden;
                width: 90vw;
                .marquee{
                    background-color: $sky-blue;
                    height: 30%;
                }
            }
        }
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    .home-section{
        #trends{
            width: 85%;
            // display: grid;
            // grid-template-columns: repeat(3, 2fr);
            // grid-template-rows: repeat(3, minmax(150px, auto));
            grid-gap: 0px;
            // background-color: red;
            margin: 0 auto;
            padding: 0;
        }
        // height: 100%;
        // background-color: $sky-blue;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            // height: 40%;
            width: 95%;
            grid-template-columns: repeat(3, 3fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
                // background-color: $font-color;
            }
            #men-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #electronic-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #phones-laptops{
                grid-column: span 1;
                grid-row: span 3;
            }
            #food-store{
                grid-column: span 2;
                grid-row: span 1;
            }
    }
}

// Medium screen devices (768px and above)
@media only screen and (min-width: 820px) {
    .home-section{
        // height: 100%;
        // background-color: $sky-blue;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            // height: 40%;
            width: 95%;
            grid-template-columns: repeat(3, 3fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
                // background-color: $font-color;
            }
            #men-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #electronic-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #phones-laptops{
                grid-column: span 1;
                grid-row: span 3;
            }
            #food-store{
                grid-column: span 2;
                grid-row: span 1;
            }
    }
}
/* Big screen devices (889px and above) */
// @media only screen and (min-width: 1024px) {}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    .home-section{
        // background-color: $yellow-dark;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            // height: 40%;
            width: 95%;
            grid-template-columns: repeat(4, 3fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
                // background-color: $font-color;
                #men-store{
                    grid-column: span 2;
                    grid-row: span 1;
                }
                #electronic-store{
                    grid-column: span 1;
                    grid-row: span 2;
                }
                #phones-laptops{
                    grid-column: span 2;
                    grid-row: span 2;
                }
                #food-store{
                    grid-column: span 1;
                    grid-row: span 2;
                }
                #pet-store{
                    grid-column: span 1;
                    grid-row: span 3;
                }
            }
            
    }
}

/* Extra big screen devices (1200px and above) */
// @media only screen and (min-width: 1300px) {}

