@font-face {
    font-family: centuryGothic;
    src: url(../public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../public/fonts/century-gothic/GOTHICB.TTF);
  }
  @font-face {
    font-family: poppinsBold;
    src: url(../public/fonts/poppins/Poppins-Black.ttf);
  }
  @font-face {
    font-family: poppinsMedium;
    src: url(../public/fonts/poppins/Poppins-Medium.ttf);
  }

  :root{
    --sky-blue: #0B0E14;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
    --yellow: #ffb700;
    }
  
  *{
    font-family: poppinsMedium;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
  }

  .Home__sreen{
    width: 100vw;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

 .Home__section{
    width: 100vw;
    height: 92vh;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .Home__section .text__container {
    width: 40%;
    height: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
    margin: 0 70px;
  }

  .text__container h1{
    font-size: 5.3rem;
    text-transform: capitalize;
    width: 100%;
    line-height: 6rem;
    font-family: poppinsBold;
    font-weight: bolder;
  }

  .text__container span{
    font-family: poppinsBold;
    font-weight: bolder;
    color: var(--yellow);
  }

  /* .text__container .tittle__text span{
    border-bottom: 2px solid #F40802;
  } */

  .text__container h3 {
    font-size: 1.5rem;
    font-family: poppinsBold;
    /* margin-bottom: 10%; */
}
.btn-container{
  width: 100%;
  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: yellowgreen; */
}
.btn-container .home__btn,
.shop-link{
    width: 28%;
    height: 25%;
    background-color: var(--sky-blue);
    color: white;
    border: none;
    /* border-radius: 20px; */
    text-transform: uppercase;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.shop-link{
  width: 100%;
  /* background-color: red; */
  height: 100%;
  text-decoration: none;
}
.shop-link h6{
  font-size: 1.5rem;
  font-family: poppinsBold;
}
  .Home__section .banner__container {
    height: 80%;
    width: 53%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
    margin: 0 80px 0 0;
    border: 1px solid var(--sky-blue);
    overflow: hidden;
  }

  .banner__container .angle__icon{
    position: absolute;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: var(--nav-colors); */
    /* margin: 20px; */
    padding: 10px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 3;
  }

  .angle__icon:hover{
    background-color: var(--yellow);
    transition: .7s ease all;
  }

  .angle__icon:active{
    background-color: var(--sky-blue);
  }
  
  .angle__icon img{
    width: 200%;
    height: 100%;
    /* background-color: saddlebrown; */
  }

  .banner__container .left__angle{
    margin-left: 60px;
    /* background-color: red; */
  }

  .banner__container .right__angle{
    right: 130px;
    /* right: 0px; */
    /* background-color: rebeccapurple; */
  }


  .banner__container .banner__image{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: magenta; */
    object-fit: cover;
    /* margin-right: 6%; */
    /* z-index: 10; */
  }
  
  
  .banner__image img{
    width: 100%;
    height: 100%;
    /* background-color: #0f0f0f; */
    /* opacity: 0; */
  }
  
  .banner__container .slide{
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%;
    height: 100%; */
    object-fit: contain;
    /* background-color: saddlebrown; */
    transition: all 2s ease;
    object-fit: cover;
  }
  .banner__container .banner-overlay{
    position: absolute;
    width: 51.57%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00000094;
  }
  .slide .content{
    position: absolute;
    right: 19.6%;
    bottom: 23%;
    width: 72%;
    animation: slide-up 1s ease .5s;
    animation-fill-mode: forwards;
    visibility: hidden;
    /* border-bottom: 3px solid white; */
    /* background-color: saddlebrown; */
    z-index: 3;
  }
  @keyframes slide-up {
    0%{
      visibility: visible;
      bottom: 23%;
    }
    100%{
      visibility: visible;
      bottom: 27%;
    }
  }

  .banner-overlay .content h2{
    font-family: poppinsBold;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  .content > h2:hover{
    color: var(--dark-gray);
  }

  .content > h2:active{
    color: var(--sky-blue);
  }

  .slide img{
    width: 100%;
    height: 100%;
  }

.banner__container .current {
    /* background-color: rgb(143, 179, 27); */
    width: 100%;
    /* height: 5%; */
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Home__screen .delivery-container{
  position: absolute;
  top: 15vh;
  left: 40px;
  width: 85px;
  height: 85px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--sky-blue);
  /* box-shadow: 0px .3px 9px 0px var(--yellow);
  border: 2px solid var(--yellow); */
}
/* .delivery-container:hover{
} */
.delivery-container .delivery__link{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.delivery__link .delivery-icon{
  width: 200%;
  /* background-color: yellow; */
}
.delivery__link h4{
  text-decoration: none;
  text-align: center;
  color: red;
}
.delivery__link strong{
  position: absolute;
  top: 0px;
  left: 12px;
  width: 26px;
  height: 26px;
  border-radius: 20px;
  background: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
  font-family: poppinsMedium;
}
.Home__screen .top__favorite {
  width: 100vw;
  height: 17vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}

.top__favorite h1{
  font-family: centuryGothicBold;
  font-size: 3rem;
}

.top__favorite .favLinks__btn {
  width: 60%;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  /* background-color: #caff0c; */
  margin-left: 21%;
}

.favLinks__btn .fav__links{
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .7rem;
  color: #b7b7b7;
}

.fav__links h3:hover{
  color: black;
  cursor: pointer;
}

.favLinks__btn .fav__btns{
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 50px;
}

.fav__btns .fav__btn{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--dark-gray);
  object-fit: contain;
}

.fav__btn img{
  width: 30%;
}
.Home__screen .content-display{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: forestgreen; */
}
.content-display .h-col{
  /* border: 1px solid black; */
  overflow-y: auto;
  height: 100vh;
}
.h-col:first-child{
  flex: 1;
  overflow: auto;
}
.h-col:last-child{
  flex: 4;
  overflow-y: auto;
}
.Home__screen .content-display .product-display{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  /* background-color: firebrick; */
}

.product-display .topFav__container{
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  /* background-color: saddlebrown; */
}



@media only screen and (max-width: 595px) {
  .Home__section{
    width: 100vw;
    height: 92vh;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
  }
  .Home__section .text__container{
    /* background-color: teal; */
    width: 75%;
    height: 50%;
  }
  .text__container h1{
    font-family: poppinsBold;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
    line-height: 37px;
    margin: 20px 0px 10px 0px;
  }
  .text__container > h3{
    text-align: center;
    font-family: poppinsBold;
    width: 100%;
    font-size: .9rem;
    margin-bottom: 10px;
  }
  .btn-container{
    flex-direction: row;
    /* background-color: blue; */
    width: 100%;
    height: 4.3vh;
    margin-top: 10px;
  }
  .btn-container .home__btn{
    width: 30%;
    height: 100%;
    font-size: .7rem;
    font-family: poppinsBold;
    border-radius: 0px;
  }
  .shop-link h6{
    font-size: .65rem;
    font-family: poppinsBold;
  }
  .Home__section .banner__container{
    margin: 30px;
    width: 93%;
    object-fit: contain;
  }
  .banner__container .banner__image{
    width: 100%;
    height: 100%;
  }
  .banner__container .angle__icon{
    margin: 0px;
    width: 37px;
    height: 37px;
  }
  .angle__icon img{
    width: 200%;
  }
  .banner__container .right__angle{
    right: 30px;
  }
  .banner__container .left__angle{
    left: 30px;
  }
  .slide .banner-overlay{
    width: 93%;
    height: 42%;
  }
  .banner__image .content{
    width: 90%;
    margin: 0px;
    left: 30px;
    /* margin-top: 600px; */
    /* background-color: rebeccapurple; */
  }
  .banner__image .content > h2{
    font-size: 1.4rem;
  }
  .Home__section .delivery-container{
    width: 55px;
    height: 55px;
    left: 10px;
    top: 70px;
  }
  .delivery-container strong{
    width: 17px;
    height: 17px;
    font-size: .8rem;
  }
}
/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */