@import '../Sass/config';

@mixin flexBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
};

.home-section{
    @include flexBox;
    flex-direction: column;
    width: 100dvw;
    .stores-shortcut__links{
        // @include flexBox;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, minmax(150px, auto));
        grid-gap: 15px;
        margin: 0 auto;
        // flex-direction: column;
        width: 100dvw;
        padding: 30px;
        height: 100vh;
        // background-color: $font-color;
        .store-shortcut{
            position: relative;
            width: 100%;
            // height: 40vh;
            border-radius: 5px;
            background-color: $light-red;
            text-decoration: none;
            overflow: hidden;
            h5{
                font-size: large;
                z-index: 2;
                color: white
            }
            p{
                color: white;
                z-index: 2;
            }
            .imageText-container{
                @include flexBox;
                flex-direction: column;
                // background-color: ;
            }
        }
        .store-shortcut::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: #00000052;
            z-index: 1;
            border-radius: 5px;
        }
        .pets{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .petImage{
                object-fit: contain;
                width: 100%;
            }
        }
        .women{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .womenImage{
                width: 60%;
            }
        }
        .kids{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            object-fit: contain;
            .kidsImage{
                width: 60%;
            }
        }
        .food{
            // background-color: $font-color;
            grid-column: span 1;
            .foodImage{
                width: 50%;
            }
        }
        .phones-laptops{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 2;
            .phoneImage{
                width: 80%;
            }
        }
        .fashion-and-beauty{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 3;
            .skinCareImage{
                width: 100%;
            }
        }
        .men{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 3;
            .menImage{
                width: 90%;
            }
        }
        .electronics{
            // background-color: $font-color;
            grid-column: span 1;
            grid-row: span 1;
            .electronicsImage{
                width: 80%
            }
        }
    };

    .trends-container{
        position: relative;
        width: 100%;
        padding: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #ededed;
        .offers-section{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: white;
            img{
                width: 10%;
            }
        }
        .main-trends{
            position: relative;
            // width: 95%;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #ededed;
        }
    }
};

//breakpoint for responsiveness
@media only screen and (max-width: 595px) {
    .home-section{
        // background-color: $sky-blue;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            height: 40%;
            width: 95%;
            grid-template-columns: repeat(2, 2fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
            // .stores-shortcut__links .store-shortcut{
            //     background-color: $font-color;
            // }
            .store-shortcut h5{
                font-size: .8rem;
            }
            .men{
                grid-column: span 1;
                grid-row: span 3;
            }
            .fashion-and-beauty{
                grid-column: span 1;
                grid-row: span 1;
            }
            .kids{
                grid-column: span 2;
                grid-row: span 4;
            }
            .phones-laptops{
                grid-column: span 1;
                grid-row: span 2;
            }
        }
        .trends-container{
            // background-color: $sky-blue;
            .offers-section{
                flex-direction: column;
            }
            .main-trends{
                // flex-direction: column;
                overflow: hidden;
                width: 90vw;
                .marquee{
                    background-color: $sky-blue;
                    height: 30%;
                }
            }
        }
    }
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
    .home-section{
        // height: 100%;
        // background-color: $sky-blue;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            // height: 40%;
            width: 95%;
            grid-template-columns: repeat(3, 3fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
                // background-color: $font-color;
            }
            #men-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #electronic-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #phones-laptops{
                grid-column: span 1;
                grid-row: span 3;
            }
            #food-store{
                grid-column: span 2;
                grid-row: span 1;
            }
    }
}

// Medium screen devices (768px and above)
@media only screen and (min-width: 820px) {
    .home-section{
        // height: 100%;
        // background-color: $sky-blue;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            // height: 40%;
            width: 95%;
            grid-template-columns: repeat(3, 3fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
                // background-color: $font-color;
            }
            #men-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #electronic-store{
                grid-column: span 1;
                grid-row: span 2;
            }
            #phones-laptops{
                grid-column: span 1;
                grid-row: span 3;
            }
            #food-store{
                grid-column: span 2;
                grid-row: span 1;
            }
    }
}
/* Big screen devices (889px and above) */
// @media only screen and (min-width: 1024px) {}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
    .home-section{
        // background-color: $yellow-dark;
        .stores-shortcut__links{
            // background-color: $yellow-dark;
            padding: 10px;
            // height: 40%;
            width: 95%;
            grid-template-columns: repeat(4, 3fr);
            grid-template-rows: repeat(3, minmax(10px, auto));
            grid-gap: 10px;
                // background-color: $font-color;
                #men-store{
                    grid-column: span 2;
                    grid-row: span 1;
                }
                #electronic-store{
                    grid-column: span 1;
                    grid-row: span 2;
                }
                #phones-laptops{
                    grid-column: span 2;
                    grid-row: span 2;
                }
                #food-store{
                    grid-column: span 1;
                    grid-row: span 2;
                }
                #pet-store{
                    grid-column: span 1;
                    grid-row: span 3;
                }
            }
            
    }
}

/* Extra big screen devices (1200px and above) */
// @media only screen and (min-width: 1300px) {}