.navbar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999999;
  flex-direction: column;
  width: 100dvw;
  height: 15dvh;
  font-size: 0.8rem;
  background-color: #ffffff;
  box-shadow: 0px 0.3px 9px 0px gray;
}
.navbar .logo__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 6.5%;
  margin-left: 2%;
}
.navbar .logo__section .main-logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  cursor: pointer;
}
.navbar .navbar-news__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  text-align: center;
  position: absolute;
  height: 13%;
  width: 100%;
  z-index: 5;
  font-size: 0.7rem;
  font-weight: bold;
  color: white;
  background-image: linear-gradient(to right, #F8B817, #F09333, #EA7B38, #ff671b, #ff5500, #E14740, #DD2943, #D22458, #BF1A81);
}
.navbar .navbar-icons__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  margin-top: 1.3%;
  width: 100%;
  height: 55%;
}
.navbar .search__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 30%;
  width: 40%;
  height: 68%;
}
.navbar .search__section .input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  border-radius: 20px;
  border: none;
  font-size: 0.8rem;
  font-weight: bolder;
  color: #575757;
  background-color: #e8e8e8;
}
.navbar .search__section .search-icon {
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0.3%;
  z-index: 5;
  background-color: #242424;
  padding: 8px;
  border-radius: 20px;
  cursor: pointer;
}
.navbar .user-icons-navigation__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-right: 2%;
}
.navbar .user-icons-navigation__section .nav-icon {
  position: relative;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 26%;
  cursor: pointer;
  text-decoration: none;
}
.navbar .user-icons-navigation__section .nav-icon:hover .icon-text {
  color: rgba(255, 255, 255, 0.6588235294);
  transition: 0.5s ease-in-out;
}
.navbar .user-icons-navigation__section .nav-icon img {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
.navbar .user-icons-navigation__section .nav-icon .shoppingBag__section,
.navbar .user-icons-navigation__section .nav-icon .heartIcon__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .user-icons-navigation__section .nav-icon .bag-icon {
  margin-right: 8%;
}
.navbar .user-icons-navigation__section .nav-icon .icon-text {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.8rem;
  color: #575757;
}
.navbar .user-icons-navigation__section .nav-icon .icon-text span {
  font-size: 0.7rem;
}
.navbar .user-icons-navigation__section .checkout__indicator {
  position: absolute;
  bottom: 0;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: #ff5500;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .nav-links__section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}
.navbar .nav-links__section ul {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30%;
}
.navbar .nav-links__section ul :hover {
  color: rgba(255, 255, 255, 0.6588235294);
  transition: 0.5s ease-in-out;
}
.navbar .nav-links__section .main-link {
  text-decoration: none;
  color: #575757;
  font-size: 0.8rem;
  font-weight: bold;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.navbar .nav-links__section .location-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 2%;
  width: 15%;
}
.navbar .nav-links__section .location-image {
  width: 8%;
  margin-bottom: 6px;
}
.navbar .nav-links__section p {
  font-size: 0.7rem;
  color: #3F94A6;
}
.navbar .nav-links__section .telephone-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  right: 2%;
  width: 7.6%;
}
.navbar .nav-links__section .telephone-icon {
  width: 16%;
  margin-bottom: 7px;
}
.navbar .close-btn,
.navbar .menu-icon {
  display: none;
}

@media only screen and (max-width: 595px) {
  .navbar {
    width: 100dvw;
    height: 10dvh;
  }
  .navbar .navbar-news__section {
    height: 16%;
    text-align: center;
    font-size: 0.6rem;
  }
  .navbar .navbar-news__section .news-text {
    font-size: 0.6rem;
  }
  .navbar .logo__section {
    margin-top: 14px;
    width: 20%;
  }
  .navbar .search__section {
    margin-top: 10px;
    width: 35%;
    margin-left: -18px;
  }
  .navbar .search__section .input {
    border-radius: 20px;
    font-size: 0.55rem;
    background-color: #e8e8e8;
  }
  .navbar .search__section .search-icon {
    width: 25px;
    height: 25px;
    padding: 4px;
  }
  .navbar .close-btn,
  .navbar .menu-icon {
    display: block;
    right: 2%;
    margin-top: 12px;
    width: 5%;
    height: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 20;
  }
  .navbar .main-link {
    display: none;
  }
  .navbar .nav-icon .checkout__indicator {
    right: 20px;
  }
  .navbar .nav-links__section {
    position: relative;
  }
  .navbar .mobile-menu__dropdown {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 9.3%;
    width: 100dvw;
    height: 100vh;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.431372549);
  }
  .navbar .mobile-menu__dropdown .link-container {
    width: 38%;
    height: 25%;
    padding: 4%;
    border-radius: 6.3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-bottom: 20vh;
  }
  .navbar .mobile-menu__dropdown .link-container .mobile-menu-link {
    color: #575757;
    text-decoration: none;
    font-size: 0.85rem;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .user-icons-navigation__section {
    position: absolute;
    right: 10%;
    margin-top: 10px;
    width: 25%;
  }
  .navbar .user-icons-navigation__section .nav-icon .icon-text {
    display: none;
  }
  .navbar .user-icons-navigation__section .nav-icon img {
    width: 84%;
  }
  .navbar .user-icons-navigation__section .nav-icon .user-icon {
    width: 90%;
  }
  .navbar .nav-links__section .location-section {
    width: 35%;
    margin-bottom: 20px;
  }
  .navbar .nav-links__section .telephone-section {
    width: 24%;
    margin-bottom: 9px;
  }
  .navbar .nav-links__section .telephone-section img {
    width: 14%;
    margin-top: 5px;
  }
  .navbar .nav-links__section .location-section img {
    margin-top: 5px;
    width: 7%;
  }
  .navbar .nav-links__section .location-section p, .navbar .telephone-section p {
    font-size: 0.55rem;
  }
  .navbar .nav-links__section .location-section p {
    margin-left: 5px;
  }
}
/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {
  .navbar {
    height: 10dvh;
  }
  .navbar .navbar-news__section {
    height: 1.4dvh;
  }
  .navbar .navbar-news__section p {
    font-size: 0.85rem;
  }
  .navbar .search__section .input {
    font-size: 1rem;
  }
  .navbar .logo__section {
    width: 15%;
  }
  .user-icons-navigation__section .nav-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .user-icons-navigation__section #link {
    width: 100%;
  }
  .user-icons-navigation__section #count-indicator {
    width: 22px;
    height: 22px;
    font-size: 1rem;
  }
  .user-icons-navigation__section .nav-icon #main-icon {
    width: 70%;
    margin-left: 15%;
  }
  .user-icons-navigation__section .heartIcon__section,
  .user-icons-navigation__section .shoppingBag__section,
  .user-icons-navigation__section .userIcon__section {
    width: 100%;
  }
  .user-icons-navigation__section .shoppingBag__section {
    width: 85%;
  }
  .user-icons-navigation__section .nav-icon .icon-text {
    opacity: 0;
  }
  .user-icons-navigation__section #count-indicator {
    width: 20px;
    height: 20px;
  }
  .nav-links__section {
    margin-bottom: 10px;
    height: 25%;
  }
  .nav-links__section #location {
    width: 25%;
  }
  .nav-links__section #location img {
    width: 10%;
  }
  .nav-links__section #location p {
    font-size: 0.9rem;
    margin-left: 5px;
    margin-bottom: 8px;
  }
  .nav-links__section #main-nav-links {
    width: 40%;
  }
  .nav-links__section #telephone {
    width: 20%;
  }
  .nav-links__section #telephone p {
    font-size: 0.9rem;
    margin-left: 5px;
  }
}
@media only screen and (min-width: 820px) {
  #search {
    width: 42px;
    height: 42px;
    padding: 8px;
  }
  #main-nav-links .main-link {
    font-size: 0.9rem;
  }
  .telephone-icon {
    margin-right: 9px;
  }
}
/* Big screen devices (889px and above) */
@media only screen and (min-width: 1024px) {
  .navbar #main-input {
    border-radius: 50px;
  }
  .navbar #search {
    width: 50px;
    height: 50px;
    border-radius: 50px;
  }
  .navbar .telephone-icon {
    margin-right: 13%;
  }
}
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
  .navbar {
    height: 8dvw;
  }
  .navbar .navbar-news__section {
    height: 1.6dvh;
  }
  .navbar .navbar-news__section p {
    font-size: 0.8rem;
  }
  .navbar .logo__section {
    width: 8%;
  }
  .navbar .search__section {
    height: 75%;
    width: 60%;
    left: 20%;
  }
  .navbar #search {
    width: 40px;
    height: 40px;
  }
  .navbar .user-icons-navigation__section {
    width: 10%;
  }
  .navbar .user-icons-navigation__section #link {
    width: 35%;
  }
  .navbar #location {
    width: 16%;
  }
  .navbar #location img {
    width: 9%;
  }
  .navbar #telephone {
    width: 14%;
    right: 0%;
  }
  .navbar #telephone img {
    width: 12%;
  }
  .navbar #main-nav-links .main-link {
    font-size: 0.9rem;
  }
}
/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1300px) {
  .navbar {
    height: 13dvh;
  }
  .navbar .navbar-news__section p {
    font-size: 0.6rem;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar .logo__section {
    width: 5%;
  }
  .navbar .search__section {
    height: 5dvh;
  }
  .navbar .search__section .input {
    font-size: 0.7rem;
  }
  .navbar .search__section #search {
    width: 35px;
    height: 35px;
    right: 0;
  }
  .navbar .navbar-icons__section #link {
    width: 25%;
  }
  .navbar .navbar-icons__section #count-indicator {
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
  }
  .navbar #location {
    width: 13%;
  }
  .navbar #location img {
    width: 5.5%;
  }
  .navbar #location p {
    font-size: 0.6rem;
  }
  .navbar #telephone {
    width: 8%;
    margin-right: 1.3%;
  }
  .navbar #telephone img {
    width: 12%;
  }
  .navbar #telephone p {
    font-size: 0.6rem;
  }
  .navbar #main-nav-links {
    width: 20%;
  }
  .navbar #main-nav-links .main-link {
    font-size: 0.7rem;
  }
}/*# sourceMappingURL=Navbar.css.map */