@import '../Sass/config';

@function fontSizes($font-size) {
    @return map-get($font-sizes, $font-size)
};

@mixin flexBox {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between
};

.navbar{
    @include flexBox;
    position: sticky;
    top: 0;
    z-index: 999999;
    flex-direction: column;
    width: 100dvw;
    height: 15dvh;
    font-size: fontSizes(regular);
    background-color: $sky-blue;
    .logo__section{
        @include flexBox();
        justify-content: center;
        // background-color: red;
        width: 6.5%;
        margin-left: 2%;
        // height: 70px;
        .main-logo{
            object-fit: contain;
            width: 100%;
            cursor: pointer;
        };  
    };
    .navbar-news__section{
        @include flexBox();
        justify-content: center;
        text-align: center;
        position: absolute;
        height: 13%;
        width: 100%;
        z-index: 5;
        font-size: fontSizes(small);
        font-weight: bold;
        color: white;
        background-image: linear-gradient(
        to right,
        #ffa939,
        #F09333,
        #EA7B38,
        #E5623D,
        #E14740,
        #DD2943,
        #D22458,
        #BF1A81
      );
    // background-image: linear-gradient( 67.2deg,  rgba(37,208,199,1) -7.5%, rgba(165,90,240,1) 62.7% );
    }
    .navbar-icons__section{
        @include flexBox();
        top: 0;
        margin-top: 1.3%;
        width: 100%;
        height: 55%;
        // background-color: #ffc400
    }
    .search__section{
        @include flexBox();
        position: absolute;
        left: 30%;
        width: 40%;
        height: 68%;
        // background-color: violet;
        .input{
            @include flexBox();
            width: 100%;
            height: 100%;
            position: absolute;
            text-align: center;
            border-radius: 20px;
            border: none;
            font-size: fontSizes(regular);
            font-weight: bolder;
            color: $font-color;
        };
        .search-icon{
            width: 35px;
            height: 35px;
            position: absolute;
            right: .3%;
            z-index: 5;
            background-color: $yellow-dark;
            padding: 8px;
            border-radius: 20px;
            cursor: pointer;
        };
    };
    .user-icons-navigation__section{
        @include flexBox();
        width: 20%;
        margin-right: 2%;
        // background-color: teal;
        .nav-icon{
            @include flexBox();
            width: 26%;
            cursor: pointer;
            text-decoration: none;
            // background-color: sandybrown;
            &:hover .icon-text{
                color: lighten($hover-color, 5);
                transition: .5s ease-in-out;
            }
            img{
                width: 30%;
                object-fit: contain;
            };
            .shoppingBag__section, 
            .heartIcon__section{
                @include flexBox();
            }
            .bag-icon{
                margin-right: 8%;
                // background-color: rebeccapurple
            }
            .icon-text{
                @include flexBox();
                flex-direction: column;
                align-items: flex-start;
                font-size: fontSizes(regular);
                color: #fff;
                span{
                    font-size: fontSizes(small)
                };
            };
        }
    };
    .nav-links__section{
        @include flexBox();
        justify-content: center;
        width: 100%;
        margin-bottom: 5px;
        // background-color: lawngreen
        ul{
            @include flexBox();
            width: 30%;
            :hover{
                color: $hover-color;
                transition: .5s ease-in-out
            }
        }
        // li{
        //     background-color: greenyellow;
        //     text-decoration: none;
        // }
        .main-link{
            text-decoration: none;
            color: white;
            font-size: fontSizes(regular);
            font-weight: bold;
            transition: .5s ease-in-out;
            cursor: pointer;
        };
        .location-section{
            @include flexBox();
            position: absolute;
            left: 2%;
            width: 15%;
            // background-color: aqua
        }
        .location-image{
            width: 8%;
            margin-bottom: 6px;
        }
        p{
            font-size: .7rem;
            color: white
        }
        .telephone-section{
            @include flexBox();
            position: absolute;
            right: 2%;
            width: 7.6%;
            // background-color: saddlebrown;
        }
        .telephone-icon{
            width: 16%;
            margin-bottom: 7px;
        }
    }
};