@font-face {
    font-family: centuryGothic;
    src: url(../components/public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../components/public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
    --fab-color: #02e6d6;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
    --yellow: #ffb700;
    }

  .favProduct__container{
    width: 22vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
  }

  .favProduct__container .favproduct__imageIcon{
    width: 93%;
    height: 58%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    object-fit: contain;
}

.favproduct__imageIcon img{
    width: 100%;
    height: 90%;
    object-fit: contain;
  }

  .favproduct__imageIcon .heartIcon__container{
    width: 35px;
    height: 35px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 12%;
    margin-left: 12%;
    background-color: var(--fab-color);
    cursor: pointer;
  }

  .heartIcon__container .heart__icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50px; */
    /* background-color: var(--yunki-color); */
}

.heartIcon__container:hover img {
  /* background-color: var(--nav-color); */
  transform: scale(1.2);
  transition: 1s ease all;
}

  .favProduct__container .favProduct__textContainer {
    width: 93%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 0 20px;
    /* background-color: olivedrab; */
  }

  .favProduct__textContainer h3{
    font-family: centuryGothicBold;
    font-size: 1rem;
  }
  .favProduct__textContainer p{
    /* font-family: centuryGothic; */
    font-size: .9rem;
  }

  .favProduct__container .product__price > img{
    position: relative;
    top: 1px;
    width: 2.7%;
    /* background-color: darkblue; */
  }

  .favProduct__container .addToBag__section{
    width: 95%;
    height: 8%;
    border: none;
    background-color: var(--fab-color);
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: .65rem;
    cursor: pointer;
    display: none;
  }
  .addToBag__section::before,
  .addToBag__section::after{
    content: '';
    position: relative;
    inset: 0;
    background-color: var(--fab-color);
    transition: 0.5s;
    width: 200%;
    height: 100%;
  }
  .addToBag__section:hover::before{
    inset: -5%;
    z-index: -2;
    width: 100%;
  }
  .addToBag__section:hover::after{
    z-index: -2;
    inset: 05%;
    filter: blur(5px);
  }

  .favProduct__container:hover .addToBag__section{
    display: flex; 
  }

  .addToBag__section:hover{
    background-color: var(--yellow);
    transition: .7s ease all;
  }

  .addToBag__section:active{
    background-color: var(--nav-color);
  }

  .addToBag__section h4{
    margin-left: 25%;
  }

  .addToBag__section img{
    width: 5%;
    margin-right: 25%;
    /* background-color: #0f0f0f; */
  }

