@font-face {
    font-family: centuryGothic;
    src: url(../components/public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../components/public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
    --nav-color: #0f0f0f;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
   }

.Footer__container {
    width: 100vw;
    height: 50vh;
    background-color: var(--nav-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.footer-links{
    width: 100%;
    height: 65%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    /* background-color: saddlebrown; */
}

.Footer__container .content{
    height: 90%;
    width: 17%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: white;
    /* background-color: wheat; */
}
.content h1{
    font-size: 1.3rem;
}
.content .link-holder{
    width: 100%;
    height: 80%;
    font-size: 1rem;
    /* background-color: purple; */
}
.link-holder p{
    margin: 10px 0px;
    font-family: centuryGothicBold;
    color: var(--darker-gray);
}

.Footer__container .copyright-contents{
    width: 50%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: tomato; */
}
.copyright-contents img{
    width: 35%;
}
.copyright-contents .copyright-text{
    color: white;
}