  @font-face {
    font-family: centuryGothic;
    src: url(../components/public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../components/public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
    --nav-color: #0f0f0f;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
   }

   .Login__Section{
    height: 91vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
   }

   .Login__Section .Login__Contents{
    width: 23%;
    height: 74%;
    /* background-color: #0f0f0f; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
   }

   .Login__Contents .Login__Nav{
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(30, 255, 0); */
   }

   .Login__Nav img{
    width: 22%;
   }

   .Login__Contents .Login__Text{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
   }

   .Login__Text h1{
    text-transform: uppercase;
    font-size: 1.3rem;
    font-family: centuryGothicBold;
   }

   .Login__Text h3{
    font-size: .88rem;
    font-family: centuryGothicBold;
    color: gray;
    height: 1%;
   }

   .Login__Contents form{
    width: 80%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   }

   form label{
    display: flex;
    align-self: flex-start;
    font-weight: bold;
    font-size: .85rem;
   }
   
   form input{
    margin-bottom: 5%;
    width: 100%;
    height: 25%;
   }

   form button{
    width: 100%;
    height: 30%;
    background-color: var(--nav-color);
    color: white;
    border: none;
    transition: 1s ease all;
    font-weight: bolder;
   }

   form button:hover{
    background-color: var(--yunki-color);
   }

   