@font-face {
    font-family: centuryGothic;
    src: url(../components/public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../components/public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
  --mint: #02E6D6;
  --yunki-color: #F40802;
  --light-gray: #F7F7F7;
  --dark-gray: #d9d9d9;
  --darker-gray: #a4a4a4;
  --yellow: #ffb700;
  }
  
  *{
    font-family: centuryGothic;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
  }


  .navbar__section{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--mint);
    /* background-color: var(--nav-color); */
    /* overflow: hidden; */
    box-shadow: 0px .3px 9px 0px var(--yellow);
  }
  .navbar__section .navIcons__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 65%;
    /* background-color: rebeccapurple; */
  }
  .navIcons__container .side-icons{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: red; */
  }
  .navIcons__container .leftIcon-holder{
    margin-left: 50px;
  }
  .navIcons__container .rightIcon-holder{
    margin-right: 50px;
  }
  .navIcons__container .side-icons .nav__icon{
    width: 100%;
    height: 100%;
    /* background-color: tomato; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .nav__icon h4{
    text-decoration: none;
    color: white;
    font-size: .8rem;
    z-index: 3;
  }
  .nav__icon .visit__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
  }
  .visit__link > strong{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    width: 18px;
    height: 18px;
    background-color: #ffb700;
    color: white;
    font-size: .8rem;
    position: absolute;
    top: 20%;
    margin-left: 15px;
  }
  .side-icons .line{
    width: 5%;
    height: 45%;
    background-color: white;
    z-index: 9;
  }
  .nav__icon .visit__link .login{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 10px; */
    /* background-color: #ff4800; */
    color: white;
    font-family: centuryGothicBold;
    font-size: .9rem;
  }
  .nav__icon img{
    width: 110%;
    height: 100%;
    /* background-color: red; */
  }
  .nav__icon .delivery-icon{
    /* width: 10%; */
    /* padding-bottom: 500px; */
    /* background-color: saddlebrown; */
  }
  .navIcons__container .yunkiLogo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: seagreen; */
    width: 15%;
    height: 100%;
  }
  .yunkiLogo-container .logo-link{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
  }
  .yunkiLogo-container .logo-link img{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
  }
  .navbar__section .link-section{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--mint);
    border-bottom: 3px solid var(--yellow);
  }
  .link-section .link-container{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 10px */
    /* background-color: yellow; */
  }
  .link-section .link-container ul{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: hotpink; */
  }
  .link-container ul li{
    list-style: none;
    font-family: centuryGothicBold;
    font-size: 1.2rem;
    color: white;
    cursor: pointer;
  }
  .link-container ul li:hover{
    color: var(--yellow);
    transition: 2s ease all;
  }
  .navbar__section .menu-display{
    display: none;
  }



/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .navbar__section .menu-display{
    display: block;
    right: 20px;
    /* background-color: blue; */
    width: 12%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .navbar__section{
    height: 8vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid var(--yellow);
  }
  
  .navbar__section .navIcons__container .side-icons{
    /* background-color: navajowhite; */
    width: 25%;
    display: flex;
  }
  .navIcons__container .line-invisible{
    display: none;
  }
  .search-icon{
    display: none;
  }
  .visit__link .search-text{
    display: none;
  }
  .side-icons .line{
    z-index: 5;
  }
  .side-icons .nav__icon{
    /* background-color: blue; */
    margin-bottom: 6px;
  }
  .navIcons__container .leftIcon-holder{
    margin-left: 20px;
  }
  .navIcons__container .rightIcon-holder{
    margin-right: 20px;
  }
  .nav__icon .visit__link{
    /* background-color: red; */
  }
  
  .visit__link h4{
    font-size: .7rem;
  }
  .visit__link strong{
    width: 16px;
    height: 16px;
    top: 16px;
  }
  .navbar__section .link-section{
    display: none;
  }
  .navIcons__container .yunkiLogo-container{
    width: 45%;
  }
}

/* Small screen devices (600px and above) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */