@font-face {
    font-family: centuryGothic;
    src: url(../components/public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../components/public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
  --nav-color: #0f0f0f;
  --yunki-color: #F40802;
  --light-gray: #F7F7F7;
  --dark-gray: #d9d9d9;
  }
  
  *{
    font-family: centuryGothic;
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
  }


  .navbar__section{
    position: sticky;
    top: 0;
    z-index: 9999;
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--nav-color);
    /* background-color: red; */
    /* overflow: hidden; */
    box-shadow: 0px .3px 9px 0px rgba(0, 0, 0, .5);
  }

  .navbar__section .blackLogo__container{
    width: 7%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
    object-fit: contain;
    margin: 0 50px;
  }

  .blackLogo__container img{
    width: 100%;
    /* background-color: aliceblue; */
  }

  .navbar__section .nav__links{
    margin: 0 30px 0 200px;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aliceblue; */
  }

  .nav__links .link {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: aqua; */
    
  }
  
  .nav__links h3 {
    /* width: 50%; */
    font-family: centuryGothicBold;
    font-size: 13px;
    letter-spacing: 4px;
    text-transform: uppercase;
    /* background-color: fuchsia; */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav__links h3:hover {
    color: var(--yunki-color);
    transition: 1s ease all;
  }

  .nav__links h3::after {
    content: "";
    width: 2% !important;
    height: 2%;
    background-color: #ffffff;
    position: absolute;
    display: none;
    margin-top: 25px;
  }

  .nav__links h3:hover::after {
    transition: 2s ease all;
    display: flex;
  }

  .navbar__section .search__container{
    margin: 0 0 0 90px;
    display: flex;
    height: 50%;
    flex: 1;
  }

  .search__container .search__btn{
    width: 9%;
    background-color: var(--dark-gray);
    border: none;
    border-radius: 0 20px 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .search__btn img {
    width: 45%;
    /* height: 100%; */
    /* background-color: black; */
  }

  .search__container input {
    width: 100%;
    background-color: var(--dark-gray);
    border: none;
    border-radius: 20px 0 0 20px;
    text-align: center;
    font-family: centuryGothic;
    font-weight: bolder;
  }

  .navbar__section .navChildren__container {
    width: 12%;
    height: 100%;
    margin: 0 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: yellow; */
  }

  .navChildren__container .nav__icon {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    /* background-color: wheat; */
  }

  .nav__icon .visit__link {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navChildren__container .nav__icon strong {
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: var(--yunki-color);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: centuryGothicBold;
    font-weight: bolder;
    font-size: .8rem;
    text-decoration: none;
  }

  .nav__icon img {
    width: 37%;
    cursor: pointer;
    /* background-color: blue; */

  }

  
  .navChildren__container .user__icon{
    width: 30%;
    /* background-color: aqua; */
  }

  .navChildren__container .bag__icon{
    width: 27%;
  }
  


  
  