@font-face {
    font-family: centuryGothic;
    src: url(../components/public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../components/public/fonts/century-gothic/GOTHICB.TTF);
  }

  :root{
    --nav-color: #0f0f0f;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
  }

  .subtotal__container{
    width: 85%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--light-gray);
    border-radius: 10px;
    box-shadow: .3px .3px 9px 0px rgba(0, 0, 0, .5);
    border: 1px solid black;
    /* position: relative; */
    /* left: 60px; */

  }
  
  .subtotal__gift{
    width: 64%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: centuryGothic;
    font-weight: bold;
    /* background-color: rebeccapurple; */
  }

  .subtotal__container .subtotal__gift input{
    width: 12px;
    height: 12px;
  }

  .subtotal__container .checkout__btn{
    width: 80%;
    height: 32%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 7px;
    background-color: var(--nav-color);
    color: white;
    /* margin-bottom: 20px; */
    font-family: centuryGothicBold;
    cursor: pointer;
  }

  .subtotal__container p{
    font-family: centuryGothicBold;
    font-weight: bolder;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    /* background-color: #F40802; */
  }

  .subtotal__container p .price__container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    /* background-color: #01eeff; */
  }

  .price__container img{
    position: relative;
    top: 2px;
    width: 19%;
  }

  .checkout__btn:hover{
    background-color: var(--yunki-color);
    transition: 1s ease all;
  }

