@font-face {
    font-family: centuryGothic;
    src: url(../../public/fonts/century-gothic/Century\ Gothic.ttf);
  }
  @font-face {
    font-family: centuryGothicBold;
    src: url(../../public/fonts/century-gothic/GOTHICB.TTF);
  }
  @font-face {
    font-family: poppinsMedium;
    src: url(../../public/fonts/poppins/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: poppinsMedium;
    src: url(../../public/fonts/poppins/Poppins-Bold.ttf);
  }

  :root{
    --fab-color: #0B0E14;
    --yunki-color: #F40802;
    --light-gray: #F7F7F7;
    --dark-gray: #d9d9d9;
    --darker-gray: #a4a4a4;
    --yellow: #ffb700;
    }

  .favProduct__container{
    width: 22vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* background-color: rebeccapurple; */
  }

  .favProduct__container .favproduct__imageIcon{
    width: 93%;
    height: 58%;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray);
    object-fit: contain;
}

.favproduct__imageIcon img{
    width: 100%;
    height: 90%;
    object-fit: contain;
  }

  .favproduct__imageIcon .heartIcon__container{
    width: 55px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-bottom: 12%;
    margin-left: 12%;
    background-color: var(--fab-color);
    cursor: pointer;
  }

  .heartIcon__container .heart__icon{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50px; */
    /* background-color: var(--yunki-color); */
}

.heartIcon__container:hover img {
  /* background-color: var(--nav-color); */
  transform: scale(1.2);
  transition: 1s ease all;
}

  .favProduct__container .favProduct__textContainer {
    width: 93%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 0 20px;
    /* background-color: olivedrab; */
  }

  .favProduct__textContainer h3{
    font-family: poppinsMedium;
    font-size: 1.2rem;
  }
  .favProduct__textContainer p{
    /* font-family: centuryGothic; */
    font-size: 1.1rem;
  }
  .favProduct__textContainer .color-selector{
    /* background-color: red; */
    width: 17%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .color-selector h5{
    font-size: 1rem;
  }
  .color-selector .main-color{
    width: 20px;
    height: 20px;
    background: #634134;
  }
  .favProduct__container .product__price > img{
    position: relative;
    top: 9px;
    width: 3.5%;
    margin: 5px;
    /* background-color: darkblue; */
  }

  .favProduct__container .addToBag__section{
    width: 95%;
    height: 9%;
    border: none;
    background-color: var(--fab-color);
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0;
  }
  .favProduct__container:hover .addToBag__section{
    display: flex; 
    opacity: 1;
  }

  .addToBag__section:hover{
    background-color: var(--yellow);
    transition: .7s ease all;
  }

  .addToBag__section:active{
    background-color: var(--fab-color);
  }

  .addToBag__section h4{
    margin-left: 25%;
  }

  .addToBag__section img{
    width: 15%;
    margin-right: 25%;
    /* background-color: #0f0f0f; */
  }

