
*:focus{
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto;
}

@font-face {
  font-family: "Roboto";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
    url("./Fonts/Satoshi-Regular.ttf") format("truetype");
}
body{
flex-grow: 1;
}